body {
	background: #04A1BF;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 800;
}

p {
	font-weight: 600;
}

#newItem {
	border: none;
	border-radius: 5px;
	color: #04A1BF;
	background-color: #025F70;
	transition: all 0.75s ease;
	font-weight: normal;
}

#enter:hover{
	background-color: #02798F;
	color: #FFCD5D;
}

li:hover {
	background: #76CFE0;
}

li > button {
	font-weight: normal;
	background: none;
	border: none;
	color: #025f70;
	font-weight: 800;
}

.input-text {
	border-radius: 5px;
	min-width: 100%;
	border: none;
}

.delete {
	display: none;
}

.post-it {
    /* margin: 1em; */
    color: #000;
    background: #ffc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10em;
    width: 10em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    transform: rotate(-6deg);
  }
  
  .col-12.offset-0.col-sm-8.offset-sm-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .col-12.offset-0.col-sm-8.offset-sm-2 ul {
    list-style: none;
  }
  
  .col-12.offset-0.col-sm-8.offset-sm-2 ul li {
    margin: 1em;
    text-decoration: none;
    color: #000;
  }
  
  img.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    margin-left: 10px;
    width: 25%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}

.listItems.dragover {
    background-color: blue;
  }
  
